<div class="content">

  <svg class="curve-mask" preserveAspectRatio="none" viewBox="0 0 1024 96" xmlns="http://www.w3.org/2000/svg">
    <g id="Curve-Experiments" fill="none" fill-rule="evenodd">
      <g id="Curve-A" transform="translate(0 -349)" fill="#FFF" fill-rule="nonzero">
        <path d="M0 398.663c470.834 145.75 491.222-163.652 1024 0v46.08H0v-46.08z" id="mo-curve"/>
      </g>
    </g>
  </svg>

    <div class="wrapper hidden-xs">
      <div class="box img-7" scrollSpeed="2"> <!-- bitcoin pic -->
        <%= cl_image_tag("simpleStocks/XMLID_353.1-7", class: "iphone-image") %>
      </div>
      <div class="box img-1" scrollSpeed="1"> <!-- stocks favorite screen -->
        <%= cl_image_tag("simpleStocks/XMLID_353.1-1", class: "iphone-image") %>
      </div>
      <div class="box img-2" scrollSpeed="2.3"> <!-- apple stock chart -->
        <%= cl_image_tag("simpleStocks/XMLID_353.1-2", class: "iphone-image") %>
      </div>
      <div class="box img-3" scrollSpeed="1.1"> <!-- list screen pic -->
        <%= cl_image_tag("simpleStocks/XMLID_353.1", class: "iphone-image") %>
      </div>
      <!-- stock profile info pic -->
      <!-- <div class="box img-4" scrollSpeed="2">
        <%#= cl_image_tag("simpleStocks/XMLID_353.1-4", class: "iphone-image") %>
      </div> -->
      <!-- news image -->
      <!-- <div class="box img-5" scrollSpeed="1">
        <%#= cl_image_tag("simpleStocks/XMLID_353.1-6", class: "iphone-image") %>
      </div> -->
      <!-- crypto coin image -->
      <!-- <div class="box img-6" scrollSpeed="1.5">
        <%#= cl_image_tag("simpleStocks/XMLID_353.1-5", class: "iphone-image") %>
      </div> -->
    </div>


  <div class="container-header">
    <div class="header-text">
      <%= cl_image_tag("simpleStocks/icon", class: "app-logo") %>
      <p class="header-text-title">SimpleStocks</p>
      <a href="https://itunes.apple.com/us/app/simplestocks/id1451840014?mt=8" target="_blank" class="appstore-link"><i class="fab fa-apple"></i> Download for free</a>
    </div>
  </div>

  <div class="hidden-lg-img"> <!-- favorite pic -->
    <%= cl_image_tag("simpleStocks/XMLID_353.1-1", class: "iphone-image") %>
  </div>

  <p class="quote-text hidden-xs">“I insist on a lot of time being spent, almost every day, to just sit and think. That is very uncommon in American business. I read and think. So I do more reading and thinking, and make less impulse decisions than most people in business.” - Warrent Buffett</p>

  <div class="container-body">

    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="description-grid-part">
          <div class="description-icon-container" style="background-color:#DFE8F6;">
            <i class="far fa-eye icon" style="color:#3D6CBC;"></i>
          </div>
          <h4 class="description-title">Visibility</h4>
          <p class="descripiton-text">A very clean design offers you the best overview of all the information you need to know.</p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="description-grid-part">
          <div class="description-icon-container" style="background-color:#DEF6EF;">
            <i class="far fa-chart-bar icon" style="color:#38BE98;"></i>
          </div>
          <h4 class="description-title">Charts</h4>
          <p class="descripiton-text">Smooth diagrams and animations provide you with all information you need right at your fingertips.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="description-grid-part">
          <div class="description-icon-container" style="background-color:#FEEADE;">
            <i class="fas fa-search icon" style="color:#FD8041;"></i>
          </div>
          <h4 class="description-title">Search</h4>
          <p class="descripiton-text">Don't get lost. Filter and find your favorite stocks and the most important companies and events of the day.</p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="description-grid-part">
          <div class="description-icon-container" style="background-color:#FBEFDC;">
            <i class="fas fa-star icon" style="color:#ECA53D;"></i>
          </div>
          <h4 class="description-title">Add as Favorite</h4>
          <p class="descripiton-text">Add your favorite stocks as favorites to track them quickly and efficiently.</p>
        </div>
      </div>
    </div>

    <div class="container-bottom">
      <div class="header-text">
        <%= cl_image_tag("simpleStocks/icon", class: "app-logo") %>
        <p class="header-text-title" style="color: #242424 !important;">SimpleStocks</p>
        <a href="https://itunes.apple.com/us/app/simplestocks/id1451840014?mt=8" target="_blank" class="appstore-link"><i class="fab fa-apple"></i> Download now</a>
      </div>
    </div>

  </div>

  <div class="footer" style="position: relative; bottom: 0; left: 0; right: 0; display: flex; justify-content: space-between; color: #949494">
    <p style="margin-left: 30px;">Copyright © 2019 Nikolai Graf Lambsdorff</p>
    <div>
      <a href="http://www.nikolailambsdorff.com/impressum" target="_blank" style="margin-right: 30px; color: #949494">Impressum</a>
      <a href="http://www.nikolailambsdorff.com/" target="_blank" style="margin-right: 30px; color: #949494">To the Developer <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>

</div>



<script>
  $(function(){
  $(window).scroll(function(){
    $('.box').each(function(){
      $(this).css('margin-top', - $(window).scrollTop() / parseFloat($(this).attr('scrollSpeed')));

    });
  });
})
</script>
